/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Poppins", "Open Sans", sans-serif;
    color: #444444;
}

p {
    font-size: 1.1rem;
}

label {
    font-weight: bold;
}

a {
    color: #ffc107;
    text-decoration: none;
}

a:hover {
    color: #049fe1;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    /* color: black; */
    font-family: "Poppins", sans-serif;
}

h5 {
    font-size: 2.15rem;
    font-weight: bolder;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("./resources/hero.jpeg") top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    padding-top: 72px;
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 62px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 1000;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

#hero h2 {
    color: #eee;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: #51dace;
    border: 2px solid #51dace;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
}

section .m-up {
    margin-top: 1.2rem;
}


/*--------------------------------------------------------------
# Prepare Picture
--------------------------------------------------------------*/
#picture {
    background-color: #049fe1;
    color: white;
}


/* Canvas */
#image-grid-border {
    background-color: transparent;
    display: inline-block;

    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

#image-grid {
    display: grid;
    position: absolute;
    left: 7.5%;
    top: 2.5%;
}

.grid-item {
    background-color: white;
    border: 0.2px solid rgb(0, 0, 0, 0.3);
}

#color-grid {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr [c_col]);
    grid-template-rows: repeat(5, 1fr [c_row]);
    column-gap: 0vw;
    row-gap: 0vw;
    width: 100%;
    height: fit-content;
    position: relative;
    margin-top: 20px;
}

.color {
    background-color: red;
    transition: transform 0.1s;
    z-index: 0;

    height: 0;
    padding-bottom: 100%;
}

.add-color::after {
    content: "+";
    font-size: 2rem;
    display: block;
    width: 100%;
    text-align: center;
}

.add-color {
    background-color: #212529;
    border: none;
    color: white;
    cursor: pointer;
    height: 75%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 2100%;
}

.color:hover {
    transform: scale(1.2);
    z-index: 1;
}

.selected {
    outline: 3px solid rgb(0, 225, 255);
    z-index: 1;
}

.color-label {
    background-color: white;
    display: block;
    height: 0px;
    width: 60%;
    padding-bottom: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: #4d4d4d56 0px -1px 20px;
}

#color-picker {
    position: relative;
    visibility: hidden;

    margin-top: 0;
    left: 50%;
    height: 0;
}


/*--------------------------------------------------------------
# Upload Picture
--------------------------------------------------------------*/

/* Crop */
#img-upload-crop {
    height: 60vh;
    width: 60vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#img-upload-crop-cropped-out {
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    position: absolute;
}

#img-upload-crop-included-container {
    position: absolute;
    overflow: hidden;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    outline: #86b3fe solid 3px;
}

#img-upload-crop-included {
    height: 10vw;
    width: 10vh;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: .5;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: 33.33333%;
    left: 0;
    top: 33.33333%;
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
}

.cropper-line {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-line.line-n {
    cursor: n-resize;
    height: 15px;
    left: 0;
    top: -6px;
}

.cropper-line.line-e {
    cursor: e-resize;
    right: -6px;
    top: 0;
    width: 15px;
}

.cropper-line.line-s {
    bottom: -6px;
    cursor: s-resize;
    height: 15px;
    left: 0;
}

.cropper-line.line-w {
    cursor: w-resize;
    left: -6px;
    top: 0;
    width: 15px;
}

/* Import */
#img-import-canvases {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

#image-import-set-display {
    position: absolute;
}

#image-import-set-grid {
    background: none;
    position: absolute;
    pointer-events: none;
}


#img-import-grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    aspect-ratio: 1;
}

/*--------------------------------------------------------------
# Set Questions
--------------------------------------------------------------*/
#questions {
    background-color: #f4f4f4;
}

#questions .icon-box {
    margin-bottom: 10px;
}

#questions .collapsible {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #eef0ef;
    transition: 0.1s;
    margin: 0;
    position: relative;
    z-index: 1;
}

#questions .collapsible i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}

#questions .collapsible h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1.2rem;
}

#questions .collapsible.active, .collapsible:hover {
    background-color: #ffe76c;
}

#questions .content {
    padding: 0 18px;
    background-color: #FFF5C2;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

#questions .content.active {
    margin-top: -15px;
    padding: 20px 18px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    padding: 10px;

    background: #f8e0a1;
}

ul li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*--------------------------------------------------------------
# Get Worksheet
--------------------------------------------------------------*/
#worksheet {
    background-color: #049fe1;
    color: white;
}

#worksheet .modal {
    color: black;
}

#worksheet .modal p {
    margin-bottom: 0.2rem
}

#worksheet .modal-dialog{
    overflow-y: initial !important
}

#worksheet .modal-body{
    max-height: 80vh;
    overflow-y: auto;
}

.generate-color-name-block {
    margin-bottom: 1rem;
}

.generate-color-name-indicator {
    background-color: red;
    width: 10%;
    height: 0;
    padding-top: 10%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: bottom;
}

.generate-color-name-input {
    width: 80%;
    display: inline-block;
}

#worksheet canvas {
    padding: 20px;
    width: 100%
}